#rankInfo td, #matchInfo td, #allMatchInfo td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

.redDistrictTeam {
  color: white;
  background-color: red;
}

.blueDistrictTeam {
  color: white;
  background-color: blue;
}
