/* #rankInfo td,
#matchInfo td,
#allMatchInfo td {
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
} */

[data-bs-color-scheme="light"] .lightModeText {
  color: white;
}

.redDistrictTeam {
  color: white;
  background-color: red;
}

.blueDistrictTeam {
  color: white;
  background-color: blue;
}

.matchWinner {
  color: white;
  background-color: green;
}

.navItem {
  float: right;
  margin-right: 15px;
}

#content {
  max-height: 90vh;
  overflow-y: scroll;
}

/* .section {
  float: left;
  padding-right: 15px;;
} */

/* Dark mode selector */
/* Used from https://codepen.io/Umer_Farooq/pen/eYJgKGN */
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dark-mode-selector {
  padding-top: 9px;
  padding-right: 10px;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
